/* Holdtrade Atlantico*/
/* colors:  blue: #001d45/0,29,69 
            red: #af2922/175,41,34
            ltgray: #d1d3d3/209,211,211
            dkgray: #5e525c/94,82,92
            htgreen: #037c40/14,124,64 */

/* ===== Global Styles ===== */
html,header, footer, body, nav, div, img, a,ul, li, p, h1, h2{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
    font-family:helvetica, sans-serif;
    font-weight:100;
}
*{box-sizing: border-box;}
html{
	font-size: 14px;
}
.clearfix:after{
    display:block;
    content:"";
    clear:both;
}
.container{
    width:80%;
    height:auto;
    margin:0 auto
}

/* ===== HEADER AND NAV - MENU ===== */
header{
    background:#001d45;
    width:100%;
    height:108px;
    text-align: center;
}
.logo-top img{
    margin:0 auto;
    width:130px;
    margin-top:15px;
}
.site-logo img{
    width:175px;
    margin-top:-38px;
    z-index:1000;
}
nav{
    width:75%;
    margin: 0 auto;
    font-family: helvetica;
    font-size: 90%;
    text-transform:uppercase;
    text-align: left;
}
.menu-arrow{
    color:#af2922;
    font-size:90%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding:0;
    margin:0;
    transition:all .1s ease-in-out;
}
nav ul li > ul{
    display: flex;
    flex-direction: column;
    background:#af2922; 
    font-size:90%;
}
.drop{
    list-style:none;
}
nav ul li:not(.drop){
    align-self: flex-start;
}
nav ul li:not(.drop){
    margin-top:84px;
}
nav ul li > ul > li:hover a{
    background:#cc534d;
}
nav ul li a{
    display:inline-block;
    color:#fff;
    padding:5px 10px;
}
nav ul li ul li a{
    display:block;
}
nav ul li:hover > a{
    background:#af2922;
}
nav > ul ul{
    position:absolute;
    visibility:hidden;
    opacity:0;
}
nav ul li:hover > ul{
    visibility:visible;
    opacity:1;
}

/* ====== HERO SECTION ====== */

/*.hero{
	background: url("../images/HoldtradeAtlantico-Freight-Train.jpg") 50% 68% no-repeat;
	height: 946px;
	position: relative;
	max-width: 100%;
	padding:40px 20px 0 0;
    margin:0;
    z-index:-1;
    display:block;
}*/

.hero img{
    margin:0;
}
.hero{
    position:relative;
    z-index:-100;
    overflow: hidden;
    margin:0;
}
.headline{
    float:right;
    font-family:helvetica;
    /*margin:-40px 40px 0 0;*/
    position:absolute;
    top:10px;
    right:40px;
}
.headline h1{
    color:#001d45;
    letter-spacing:.05em;
    font-size:2.8em;
    font-weight:700;
}
.headline p{
    color:#5e525c;
    letter-spacing:.08em;
    line-height: 21px;
    margin-top: -15px;
}
.icon-big-box{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:279px;
    width:100%;
    background-color:rgba(255,255,255,.3);
    position:absolute;
    bottom:78px;
    overflow:visible;
    padding:0 8%;
}
.icon-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0 20px;
    text-align:center;
    color:#fff;
    width:29%;
    height:355px;
    background-color:#af2922;
    box-shadow: 3px 3px 20px -3px #000;
}
.icon-box img{
    margin:20px 0 30px 0;
    max-width:100%;
}
.icon-box h2{
    font-size:24px;
    font-weight:400;
    letter-spacing:.09em;
}
.icon-box p{
    line-height:24px;
    letter-spacing:.04em;
}
.banner{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    width:100%;
    height:54px;
    background-color:#001d45;
    letter-spacing:.05em;
    font-weight:400;
    margin:-4px 0 0 0;
}
.intro-text{
    margin:54px auto;
}
.intro-text p{
    line-height: 28px;
    color:#5e525c;
    text-align:justify;
}
.intro-text p strong{
    color:#001d45;
    font-weight:700;
}

/* ===== GALLERY ===== */
.gallery{
    display:flex;
    justify-content:space-between;
}
.intro-img img{
    max-width:100%;
    border:solid 1px #d1d3d3;
}
.intro-img:nth-child(2){
    margin:0 5%;
}
.gallery p{
    margin:5px 0 54px 2px;
}

/* ===== PARTNERS ===== */
.banner-partners{
    width:100%;
    background-color:#af2922;
    padding-top:30px;
}
.logos{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:5px 0 35px 0;
}

/* ===== FOOTER ===== */
footer{
    width:100%;
    height:520px;
    background-color:#001d45;
}
.footer-block{
    display:flex;
    width:90%;
    margin:0 auto;
    padding-top:45px;
    color:#fff;
}
.footer-box-logo{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:32%;
    padding:0 70px;
}
.footer-box-logo img{
    margin-bottom:20px;
}
.footer-box-logo p{
    line-height:1.4em;
}
.footer-box-menu{
    margin-left:-20px;
}
.footer-box-menu ul{
    padding:0 40px;
}
.footer-box-menu li{
    margin-bottom:15px;
}
.footer-box-menu li a{
    color:#fff;
}
.footer-box-menu .indent{
    padding-left:5px;
}
.footer-box-menu li a strong{
    text-transform:uppercase;
}
.footer-box-menu.right{
    margin:0 25px;
}
.footer-box.contact{
    padding-left:60px;
}
.footer-box.contact p strong{
    text-transform:uppercase;
}
.country{
    margin-top:15px;
    margin-bottom:5px;
    text-transform:uppercase;
    font-size:12px;
}
.footer-box p.bio{
    line-height:1.5em;
    font-size: 12px;
}















/* ===== MEDIA QUERIES ===== */
@media (min-width: 1214px){
    .logo-top img{
        margin:0 auto;
        width:210px;
        display: none;
    }
    .hamburger{
        display:none;
    }
    .mobile-menu{
        display: none;
    }
}



@media (max-width: 1213px){
    .site-logo{
        display:none;
    } 
    header{
        height:130px;
        font-size:95%;
    }
    nav ul li:not(.drop){
    margin-top:5px;
    }   
    @-moz-document url-prefix() {
    nav ul li:not(.drop){
    margin-top:3px;
    }
    }    
}



@media (max-width: 1045px){
.headline{
    top:0px;
    right:30px;
}
.headline p{
    margin-top: -20px;
}
.icon-box{
    width:30%;
}
.footer-block{
     width:90%;   
    }
.footer-box-logo{
    width:32%;
    padding:0 50px;
}
.footer-box-menu .indent{
    padding-left:0px;
}
.footer-box-menu ul{
    padding:0 25px;
}
.footer-box-menu.left{
    margin:0 5px;
    }
.container{
    width:81%;
}
}



@media (max-width: 910px){
    header{
        height:108px;
    }
    .logo-top img{
        margin:0 auto;
        width:246px;
        margin-top:27px;
    }
    .main-menu{
        display:none;
    }
    .mobile-menu{
        background-color:#001d45;
        text-transform: uppercase;
        font-family: helvetica;
        font-size:110%;
        font-weight: 400;
        height:0;
        overflow:hidden;
        }
    .mobile-menu--open{
        height:489px;
    }
    .mobile-menu ul{
        text-align: center;
        margin: 0;
        padding:90px 0 0 0;
    }
    .mobile-menu ul li{
        padding:0;
        margin:0;
    }
    .mobile-menu ul li a{
        display:block;
        padding:20px 10px;
        color:#fff;
    }
    .mobile-menu ul li a:hover{
        background-color:#af2922;
    }
    .menu-toggle{
        padding:20px 5px;
        margin:-155px 10px 0 0;
        float:right;
        cursor:pointer;
    }
    .hamburger,
    .hamburger:before,
    .hamburger:after{
        content:"";
        display:block;
        background:#fff;
        height: 4px;
        width:35px;
    }
    .hamburger:before{
        transform:translateY(-9px);
    }
    .hamburger:after{
        transform:translateY(5px);
    }

.hero{
    overflow: visible;
    margin: 0;
    }
.headline{
    top:65%;
    width: 100%;
    margin: 0;
    padding-left:40px;
}
.headline h1{
    color:#fff;
    letter-spacing:.05em;
    font-size:4.5em;
    font-weight:700;
    text-align: center;
}
.headline p{
    display:none;
}
.icon-big-box{
    background:#af2922;
    height:355px;
    bottom:-350px;
    z-index:100;
}
.banner{
    margin-top:350px;
    }
.icon-box{
    padding:0 20px;
    color:#fff;
    width:100%;
    height:355px;
    box-shadow: none;
}
.icon-box img{
    margin:20px 0 30px 0;
    max-width:100%;
}
.icon-box h2{
    font-size:24px;
    font-weight:400;
    letter-spacing:.09em;
}
.icon-box p{
    font-size:12px;
    line-height:24px;
    letter-spacing:.04em;
}
.footer-block{
        justify-content: center;
    }
.footer-box-logo{
    width:40%;
    }
.footer-box.contact{
        margin-left:50px;;
    }
.footer-box-menu{
    display:none;
}
}



@media (max-width: 767px){
.icon-big-box{
    flex-direction:column;
    height:1010px;
    bottom:-1005px;
    z-index:100;
}
.banner{
    margin-top:997px;
    }
.icon-box{
    padding:0 20px;
    color:#fff;
    width:100%;
    box-shadow: none;
}
.crane, .truck{
        margin-top:-50px;
    }
.icon-box img{
    margin:5px 0 30px 0;
    max-width:100%;
}
.icon-box h2{
    font-size:28px;
    font-weight:400;
    margin-bottom: 5px;
}
.icon-box p{
    font-size:18px;
    line-height:26px;
    letter-spacing:.04em;
}
.headline{
    top:60%;
    padding-left:40px;
}
.headline h1{
    color:#fff;
    font-size:3em;
    font-weight:700;
    text-align: center;
}
.logos{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:center;
    padding:5px 0 35px 0;
}
    .logos img:first-child{
        margin-top: 20px;
    }
.logos img:not(:first-child){
    margin-top:90px;
    }
}



@media (max-width: 680px){
.gallery{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.intro-img img{
    max-width:100%;
    border:solid 1px #d1d3d3;
    margin: auto;
}
.intro-img:nth-child(2){
    margin:0;
}
.gallery p{
    margin:5px 0 54px 2px;
}
}





@media (max-width: 480px){
.headline{
    top:60%;
    padding-left:40px;
}
.headline h1{
    color:#fff;
    font-size:2.5em;
    font-weight:400;
    text-align: center;
} 
footer{
    width:100%;
    height:800px;
    padding: 0;
}
.footer-box-logo img{
    margin-top:25px;  
    }
.footer-block{
    flex-direction:column-reverse;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.footer-box-logo{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    text-align: center;
}
.footer-box-logo img{
    margin-bottom:20px;
}
.footer-box-logo p{
    line-height:1.4em;
}
.footer-box.contact{
   padding-left: 0;
    margin:0;
}
.footer-box.contact p strong{
    text-transform:uppercase;
}
.country{
    margin-top:15px;
    margin-bottom:5px;
    text-transform:uppercase;
    font-size:12px;
}
.footer-box p.bio{
    line-height:1.5em;
    font-size: 12px;
}
}


@media (min-width: 910px){
    .mobile-menu{
        display:none;
    }
}







